.hero {
    min-height: 100vh;
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero button {
    font-size: x-large;
}